@import "../../variables.scss";

.form-layout{
    background-color: $card-background;
    padding: 3em 3em;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.form-white{
    background-color:$white;
    padding: 3em 3em;
    border-radius: 20px;
    width: 100%;
    height: auto;
}