@import "../../variables.scss";

.notification {
	display: flex;
	margin-top: 10rem;
}

.noti-head {
	display: inline;
	color: white;
	border-bottom: 4px solid $secondary-color;
}

.margin-noti {
	margin: 0.5rem 0;
}

@media only screen and (max-width: 600px) {
	.notification {
		text-align: center;
	}
}
