@import "./../../../../../variables.scss";


.history-card-container{
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 22rem;
    border-radius: 20px;
    padding: 1rem 2rem;
}


.history-card-content{
    display: flex;
    margin: 0.2rem;
    
}
.status-align{
    align-items: center;
}
.para-label{
    font-weight: 600;
    margin-right: 1rem;
    width: 4rem;
    color: $background-color;
}

.history-content{
    color: $primary-color;
}