@import "./../../../../../variables.scss";

.history-card-container {
	display: flex;
	flex-direction: column;
	background-color: $white;
	width: 22rem;
	border-radius: 20px;
	padding: 2rem;
	// margin: 2rem;
}

.para-label {
	font-weight: 700;
	width: 4.5rem;
	color: $background-color;
	text-align: left;
}

.history-card-content {
	margin: 0.25rem 0;
}

.history-content {
	color: $primary-color;
}
