@import "./../../../variables.scss";

.history-container {
	margin-top: 5.5rem;
}

.history-map-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 3rem;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 2rem;
}
.history-head {
	color: $white;
	border-bottom: 4px solid $secondary-color;
	display: inline;
}
